<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<body>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <h1>All Tickets</h1>
    <table border="1">
        <thead>
            <tr>
                {% for header in headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td><a href="/ticketDetail.html?ticket_number={{ ticket['TicketNumber'] }}">{{ ticket['TicketNumber'] }}</a></td>
                <td>{{ ticket['TicketContent'] }}</td>
                <td>{{ ticket['State'] }}</td>
                <td id="age_{{ ticket['TicketNumber'] }}" data-created="{{ ticket['Created'] }}"></td>
                <td>{{ ticket['Created'] }}</td>
                <td>{{ ticket['Modified'] }}</td>
                {% if 'TicketFor' in ticket %}
                <td>{{ ticket['TicketFor'] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
<script src="{{ url_for('static', filename='js/ageofcase.js') }}"></script>
</body>
</html>
