<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
</head>
<body>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <h1>All Tickets</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Content</th>
                <th>State</th>
                <th>Age</th>
                <th>Created Date</th>
                <th>Modified Date</th>
                <th>Ticket For</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td><a href="/ticketDetail.html?ticket_number={{ ticket.get_ticket_number() }}">{{ ticket.get_ticket_number() }}</a></td>
                <td>{{ ticket.get_content() }}</td>
                <td>{{ ticket.get_state() }}</td>
                <td id="age_{{ ticket.get_ticket_number()  }}" data-created="{{ ticket.get_created_date() }}"></td>
                <td>{{ ticket.get_created_date() }}</td>
                <td>{{ ticket.get_modified_date() }}</td>
                {% if ticket.get_user_id() %}
                <td>{{ ticket.get_user_id() }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if session.get('RoleName') != 'agent' %}
    <h1>Need to Create a ticket?</h1>
    <a href="/createticket.html">Click this link to Create Ticket</a>
{% endif %}
{% if session.get('RoleName') == 'agent' %}
    <td><a href="/query_ticket.html">Go to Query</a></td>
{% endif %}

<script src="{{ url_for('static', filename='js/ageofcase.js') }}"></script>
</body>
</html>
